* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}


body {
 display: flex;
 justify-content: center;
 min-height :100%;
 background: seagreen;
}


.wrapper {
    width: 420px;
    background-color: purple;
    color:#fff;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.input-box input::placeholder {
    width: 100%;
}

.input-box i {
position: absolute;
right: 20px;
}